<%- include("partials/header.ejs") -%>
<h1>About Us</h1>
<p>MindSpace is an initiative that focuses on all aspects of Mental Health.
  Our aim is to educate about the aspects of mental health unknown to the mass, and also provides a platform for people to be free from the stigmas and write about their strugles by either being open
  or anonymous about their identity.
</p>
<br>
<p>
    They can also read about the experience of other people, learn, grow, and be a part of the Community. With monthly Newsletters to all the members of the Community.
</p>
<%- include("partials/footer.ejs") -%>
